body {
  margin: 0;
}

h1, p , h5 {
  font-family: serif;

}
  span {
    font-family: "minhafont";
    src: url("Mermaid\ Swash\ Caps.ttf");
    color: #b7410e;

}

#lista {
color: #ccd4fe;
}
#lista:hover {
  background-color: #b7410e;
}

#rodape {
  margin-bottom: 0%;
}

.fotoEstanteIndex{

    float: left;
    display: inline-block;
   
}
.img-fluid {

  float: right ;
  display: inline-block

}

.textehome {

  padding-top: 200px;
  margin-bottom: 150px;


}
.textohome2{

  padding-top: 200px;
  margin-bottom: 150px;

}


.textohome3 {

padding-top: 250px;
align-items: center;

}
.alinhador {

  text-align: left;

}

@media (max-width: 400px) {

  .nav {
    display: 100% ;
    align-items: center;
    justify-content:space-evenly;
    justify-content: center;
    height: 100px;
    font-size: 30px;
    flex-wrap:wrap ;  }

    .logo {
      
      font-size:35px;
    }
  } 

  @media (max-width: 1200px) {

  .nav {
    
    align-items: center;
    justify-content:space-evenly;
    justify-content: center;
    height: 150px;
    font-size: 55px;
    flex-wrap:wrap ;  }

    .logo {

      font-size:35px;
    }
  }

  